#stless_status_tab .hndle {
  margin-top: 5px;
}

#stless_status_tab .hndle-notice {
  padding: 0 12px;
}

#stless_status_tab .hndle-notice p {
  margin: 0;
}

#stless_status_tab .hndle-notice ul {
  list-style: disc;
  padding-left: 20px;
}

#stless_status_tab .stateless-info-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#stless_status_tab .stateless-info-heading .copy-button {
  background-color: #fff;
  font-weight: 400;
}

.stateless-info-copy-success {
  line-height: 30px;
  margin-right: 5px;
  color: #007017;
  font-weight: normal;
  display: none;
}

/* Info table */
#stateless-info {
  border: 1px solid #c3c4c7;
}

.stateless-info-heading {
  margin: 0;
  font-size: 13px;
  border-top: 1px solid #c3c4c7;
}

.stateless-info-heading:first-child {
  border-top: none;
}

.stateless-info-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border: 0;
  color: #2c3338;
  cursor: pointer;
  padding: 13px 20px;
  text-align: left;
  width: 100%;
  user-select: auto;
}

.stateless-info-button:hover,
.stateless-info-button:active {
  background-color: #f6f7f7;
}

.stateless-info-heading.open .dashicons {
  transform: rotate(180deg);
}

.stateless-info-block {
  padding: 13px 20px;
}

.stateless-info-block tr {
  display: table-row;
}

.stateless-info-block tr:after {
  display: none;
}

.stateless-info-block td {
  width: 50%;
}

.stateless-info-table-extended-value {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stateless-info-table-extended-value:last-child {
  cursor: pointer;
}

.stateless-info-table-extended-value em {
  display: none;
}

.stateless-info-table-extended-value .dashicons {
  margin-right: 5px;
}

/* Migrations section (Data updates) */
#stless_status_tab .migration {
  border-top: 1px solid #dcdcde;
}

#stless_status_tab .migration:last-child {
  border-bottom: none;
}

#stless_status_tab .title {
  display: flex;
  justify-content: space-between;
}

#stless_status_tab .actions .button {
  display: none;
}

#stless_status_tab .can-start .actions .button.start {
  display: inline-block;
}

#stless_status_tab .can-pause .actions .button.pause {
  display: inline-block;
}

#stless_status_tab .can-resume .actions .button.resume {
  display: inline-block;
}

/* Migrations section (Data updates) - progress section */

#stless_status_tab .migration .progress-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 20px;
}

#stless_status_tab .migration .progress-wrap .description {
  white-space: nowrap;
  margin-right: 20px;
}

#stless_status_tab .migration .progress {
  display: none;
  flex: 1;
  margin-bottom: 0;
  position: relative;
  overflow: hidden;
  height: 20px;
  max-width: 50%;
  background-size: 56px 20px;
  background-color: #dcdcde;
  background-image: repeating-linear-gradient(
    -45deg, 
    transparent, 
    transparent 10px,
    rgba(255,255,255,.7) 10px, 
    rgba(255,255,255,.7) 20px
  );
}

#stless_status_tab .migration .progress .bar {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 0;
  background-color: rgba(34, 113, 177, 0.8);
  background-size: 56px 20px;
  background-image: repeating-linear-gradient(
    -45deg, 
    transparent, 
    transparent 10px,
    rgba(255,255,255,.4) 10px, 
    rgba(255,255,255,.4) 20px
  );
  transition: all 0.5s ease;
}

@keyframes stateless-progress {
  from {background-position: 0 0;}
		to {background-position: 56px 0; }
}

#stless_status_tab .migration.can-pause .progress,
#stless_status_tab .migration.can-resume .progress {
  display: block;
}

#stless_status_tab .migration.can-pause .progress,
#stless_status_tab .migration.can-pause .progress .bar{
  animation: stateless-progress 3s linear infinite;
}

#stless_status_tab .migration .progress .percent {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 20px;
  text-align: center;
  font-weight: bold;
  z-index: 30;
}

#stateless-migration-confirm label {
  display: block;
  padding-left: 5px;
  margin-top: 5px;
}
