/**
 *
 *
 */

td.image-icon img.wp-stateless-media-item {
}


.submitbox span.sm-view-link {
  float: right;
}

.wp-stateless-credentials-options label {
  width: 10em;
  display: inline-block;
}

.wp-stateless-media-options input.sm_service_account_name {
  width: 40em;
}

.wp-stateless-media-options input.sm_key_file_path {
  width: 40em;
}

.sm-mode small.description {
  display: inline-block;
  margin-left: 10px;
}

.key_type{
	margin-top: 4px;
	margin-bottom: 0;
}
.key_type>label{
	vertical-align: top;
}
.key_type>div{
	display: inline-block;
	width:auto;
	padding-top: 3px;
}
.key_type ._sm_key_file_path{
	margin-top: 7px;
}
.key_type .sm_key_json, .key_type .sm_key_file_path{
	display: block;
	width: 40em;
	max-width: 100%;
}
.key_type .sm_key_json{
	height:200px;
}